@model IEnumerable<SimpleMVCCRUDApp.Models.Student>

<h2>Student List</h2>

<a href="/Students/Create" class="btn btn-primary">Create New</a>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Age</td>
                <td><a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-warning">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
